.carousel {
  max-width: 1200px;
  max-height: 1200px;
  height: 500px;
  width: 1200px;
}

.image-slide {
  height: 100%;
  width: 100%;
  transition: background-image 0.3s ease-out;
}

.slide-arrow {
  color: black;
  cursor: pointer;
  font-size: 2rem;
  position: fixed;
  top: 50%;
}

.slide-arrow.right {
  right: 20rem;
}

.slide-arrow.left {
  left: 20rem;
}
